html {
	height: 100%;
	font-size: 1.5rem;
	line-height: 1rem;
}

body {
	background-color: #ecf0f1;
	color: #2c3e50;
	font: 1rem "Adobe Source Sans Pro", sans-serif;
	height: 100%;
	line-height: 1.4rem;
	margin: 0;
	text-shadow: 0 1px 0 white;
}

h1 {
	font-size: 1.4rem;
}

a {
	color: #ff9300;
	text-decoration: none;

	&:hover, &:active {
		color: #f58c00;
	}
}

#container {
	display: table;
	height: 100%;
	margin: 0 auto;
	max-width: 960px;
}

#content {
	display: table-cell;
	padding: 0 0.75rem;
	text-align: center;
	vertical-align: middle;
}

#bio {
	text-align: justify;
}

// Resize for Mobile
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	html { font-size: 1.3rem; }
	body { line-height: 1.5rem; }
	#bio { text-align: left; }
}
